/* gloabal */

@font-face {
    font-family: 'frutiger-bk';
    src: url('../fonts/frutiger-bk.eot');
    src: url('../fonts/frutiger-bk.eot?#iefix') format('embedded-opentype'),
         url('../fonts/frutiger-bk.woff') format('woff'),
         url('../fonts/frutiger-bk.ttf') format('truetype'),
         url('../fonts/frutiger-bk.svg#frutiger-bk') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'frutiger-lt';
    src: url('../fonts/frutiger-lt.eot');
    src: url('../fonts/frutiger-lt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/frutiger-lt.woff') format('woff'),
         url('../fonts/frutiger-lt.ttf') format('truetype'),
         url('../fonts/frutiger-lt.svg#frutiger-lt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chivoblack';
    src: url('../fonts/chivo-black-webfont.eot');
    src: url('../fonts/chivo-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chivo-black-webfont.woff2') format('woff2'),
         url('../fonts/chivo-black-webfont.woff') format('woff'),
         url('../fonts/chivo-black-webfont.ttf') format('truetype'),
         url('../fonts/chivo-black-webfont.svg#chivoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

#low, #high, #old_content_vars {
	display: none;
}

body {
	background-repeat: no-repeat;
	background-position: 50% 175px;
	background-size: cover;
	background-attachment: fixed;
	color: #2e0027;
}

body, div, p, li, a, label, th, td, h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
}

.cnr {
	max-width: 1000px;
}

.small {
	font-size: 11px;
}

#content [class^="col-"], #content [class*=" col-"], .section, .section.panel {
	margin-bottom: 30px;
}

#content .row-narrow [class^="col-"], #content .row-narrow [class*=" col-"], #content .panel [class^="col-"], #content .panel [class*=" col-"], .row-narrow .section, .row-narrow .section.panel {
	margin-bottom: 10px;
}

/* common elements */

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5, .large {
	font-family: 'frutiger-bk', 'Arial Black', 'chivoblack', Gadget, Arial, Helvetica, sans-serif;
	margin: 20px 0 10px 0;
	color: #2e0027;
}

h1, .h1, h2, .h2 {
	color: #000;
	font-size: 32px;
	margin: 25px 0 10px 0;
}

h1, .h1 {
	margin: 25px 0;
}

h2, .h2 {
	color: #555;
}

h3, .h3 {
	font-size: 24px;
}

h4, .h4, .large {
	font-size: 20px;
}

h5, .h5 {
	font-size: 14px;
}

a:link, a:visited, a:active, a:hover,
footer #news a:link, footer #news a:visited, footer #news a:active, footer #news a:hover {
	color: #5d144b;
}

a:link, a:visited {
	text-decoration: underline;
}

a:active, a:hover {
	text-decoration: none;
}

header a:link, header a:visited, header a:active, header a:hover {
	color: #333;
}

th {
	text-align: left;
}

input, select, textarea,
.btn, button, input[type="button"], input[type="reset"], input[type="submit"],
.form-control, .input-group-btn .btn, .input-group .btn {
	line-height: 20px;
	height: auto;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 0;
}

.btn-lg, .btn-group-lg > .btn {
	border-radius: 0;
}

input, select, textarea {
	width: 100%;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"], .form-control {
	box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	color: #333;
	background-color: #f7f7f7;
	-webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus,
input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus,
input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .form-control:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	background-color: #fff;
	border-color: #aaa;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
}

textarea {
	height: auto;
}

a.btn {
	display: block;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
}

a.btn, .btn, button, input[type="button"], input[type="reset"], input[type="submit"],
.input-group-btn .btn, .input-group .btn, .btn-lg, .btn-group-lg > .btn {
	padding: 15px 50px ;
	border-color: transparent;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	background-position: 0 -1px;
	background: url(../images/button_arrow.png) #5d144b no-repeat 100% 0%;
	max-height: 66px;
	overflow: hidden;
}

a.btn:hover, .btn:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
	background-color: #2e0027;
	color: #fff;
	/*background-image: none !important;*/
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

a.btn:link, a.btn:visited, a.btn:hover, .btn:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover,
a.btn:focus, .btn:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus,
a.btn:active, .btn:active, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
	color: #fff;
}

.btn.invert, button.invert, input[type="button"].invert, input[type="reset"].invert, input[type="submit"].invert,
.input-group-btn .btn.invert, .input-group .btn.invert, .btn-lg.invert, .btn-group-lg > .btn.invert {
	padding: 20px 76px 20px 20px;
	background-position: 100% -119px;
	color: #2e0027;
	border-color: #2e0027;
	background-color: #fff;
	text-shadow: none;
}

.btn.invert:hover, button.invert:hover, input[type="button"].invert:hover, input[type="reset"].invert:hover, input[type="submit"].invert:hover {
	background-position: 100% -179px;
	background-color: #2e0027;
	color: #fff;
}

.btn.alt, button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt,
.input-group-btn .btn.alt, .input-group .btn.alt, .btn-lg.alt, .btn-group-lg > .btn.alt {
	padding: 20px 76px 20px 20px;
	background-color: #ff9000;
}

.btn.alt:hover, button.alt:hover, input[type="button"].alt:hover, input[type="reset"].alt:hover, input[type="submit"].alt:hover {
	background-color: #a95f00;
}

#src .btn, #src button {
	padding: 5px 15px;
	/*border-color: #c7acbd;*/
	background-image: none;
}

header .navbar-default, .navbar-collapse {
	background-color: transparent;
	border: 0 none transparent;
}

header button.navbar-toggle {
	margin: 0 5px 0 0;
	border-radius: 0;
	border: 0 none transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

/* main elements */

header {
	margin-bottom: 30px;
	font-size: 14px;
	background-color: #fff;
	border-bottom: 1px solid #c7acbd;
	position: relative;
}

header .bar, footer {
	background-color: #2e0027;
	background-image: url(../images/track.png);
	background-repeat: repeat-x;
	background-position: 50% 70px;
}

header .bar {
	height: 76px;
}

header .cnr {
	position: relative;
}

#logo {
	display: block;
	width: 158px;
	height: 110px;
	background: url(../images/logo.png) transparent no-repeat 0% 50%;
	background-size: contain;
	cursor: pointer;
}

#slogan {
	font-size: 18px;
}

header nav {
	float: left;
}

header nav ul, header nav li, ul.flat, ul.flat li, ul.check, ul.check li {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

header nav > ul > li {
	float: left;
}

header nav a, footer, div#lang_selector > a {
	text-transform: uppercase;
}

div#lang_selector {
	float: right;
}

div#lang_selector > a {
	font-weight: bold;
}

header nav a, div#lang_selector > a {
	display: block;
	line-height: 20px;
	padding: 25px 15px;
	text-shadow: 0px 1px rgba(0,0,0,0.7);
	font-size: 12px;
}

header nav li.selected a {
	font-weight: bold;
}

header nav a.currentTop {
	border-bottom: 3px solid #fff;
}

header nav a:link, header nav a:visited, header nav a:active, header nav a:hover, div#lang_selector > a {
	color: #fff;
	text-decoration: none;
}

header nav a:active, header nav a:hover, header nav li.open a:link,
div#lang_selector > a:active, div#lang_selector > a:hover, div.open#lang_selector > a:link {
	background-color: #5d144b;
}

.dropdown-menu {
	border-radius: 0;
	box-shadow: none;
	margin: 0;
	padding: 0;
	min-width: 10px;
}

.dropdown-menu a {
	text-decoration: none;
}

#top_links .dropdown-menu li {
	padding: 30px;
}

.pull-right > .dropdown-menu, .navbar-right > .dropdown-menu {
	left: auto;
	right: 0;
}

#src {
	width: 200px;
}

ul.flat h2:first-child, ul.flat .h2:first-child, ul.flat h3:first-child, ul.flat .h3:first-child, ul.flat h4:first-child, ul.flat .h4:first-child, ul.flat h5:first-child, ul.flat .h5:first-child,
ul.check h2:first-child, ul.check .h2:first-child, ul.check h3:first-child, ul.check .h3:first-child, ul.check h4:first-child, ul.check .h4:first-child, ul.check h5:first-child, ul.check .h5:first-child {
	margin-top: 0;
}

ul.check li {
	padding: 10px 0 10px 50px;
	background: url(../images/check.png) transparent no-repeat 0px 5px;
}

#top_links > ul > li > a {
	font-weight: bold;
}

#nav_control {
	text-align: right;
}

#nav_control > a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
}

#nav_control > a .glyphicon {
	position: static;
}

#nav_control > a .glyphicon:before {
	text-align: center;
}

footer {
	background-position: 50% bottom;
	padding: 40px 0 35px;
	color: #978094;
	background-color: #2e0027;
	text-shadow: 0px 1px 1px #333;
	font-size: 12px;
}

footer p, footer ul, footer li {
	margin-top: 0;
}

footer a:link, footer a:visited, footer a:active, footer a:hover {
	color: #fff;
}

.indent-01 {
	padding-left: 50px;
}

.indent-02 {
	padding-left: 50px;
	color: #fff;
	background-color: #5d144b;
}

.indent-02 h2, .indent-02 .h2, .indent-02 h3, .indent-02 .h3, .indent-02 h4, .indent-02 .h4, .indent-02 h5, .indent-02 .h5 {
	color: #fff;
}

/* sprites */

[class^="sprite-"], [class*=" sprite-"] {
    line-height: 0px !important;
	width: 0px;
	height: 0px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}

[class^="sprite-"]:after, [class*=" sprite-"]:after {
	content: ' ';
	display: inline-block;
	width: 32px;
	height: 32px;
	position: absolute;
	top: -8px;
	left: -32px;
    background-image: url(../images/sprite.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.sprite-flower:after {
    background-position: 0px -64px;
}

.bottom, .bottom-left, .bottom-right {
	position: absolute;
	bottom: 0px;
}

.bottom {
	left: 0px;
	right: 0px;
}

.bottom-left {
	left: 0px;
}

.bottom-right {
	right: 0px;
}

/* content */

#content .row {
	/*margin-bottom: 10px;*/
}

.panel {
	position: relative;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 50px 50px 40px 50px;
	margin: 0;
	border-radius: 0;
}

.panel h1:first-child, .panel h2:first-child, .panel h3:first-child, .panel h4:first-child, .panel h5:first-child {
	margin-top: 0;
	margin-bottom: 30px;
}

.highlight {
	background-color: #eee;
}

hr {
	border-color: #ccc;
}

.sticker-01 {
	position: absolute;
	top: -40px;
	right: -36px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 100% 0px;
	width: 115%;
	padding-top: 100%;
	background-size: contain;
	cursor: pointer;
}

/*
.sticker-01 {
	position: absolute;
	top: -50px;
	right: -36px;
	width: 100%;
	padding-top: 100%;
	cursor: pointer;
}

.sticker-01:before {
	content: '';
	position: absolute;
	bottom: 10%;
	width: 100%;
	height: 60%;
	-webkit-transform: skew(0deg, -10deg);
	-moz-transform: skew(0deg, -10deg);
	-ms-transform: skew(0deg, -10deg);
	-o-transform: skew(0deg, -10deg);
	transform: skew(0deg, -10deg);
	background-color: #5d144b;
}

.sticker-label {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20%;
	padding-left: 42%;
	color: #fff;
	line-height: 1.1em;
	background: url(../images/sticker_graphics.png) transparent no-repeat 10% 90%;
	background-size: 30% auto;
	font-weight: bold;
}
*/

.ng-scope {
	margin-top: 30px;
}

#top_product h3:first-child {
	margin-bottom: 5px;
}

#top_product .image {
	position: relative;
	width: 100%;
	margin-bottom: -30px;
	padding-top: 125%;
	background-position: 0% 0%;
	background-repeat: no-repeat;
}

#top_product .options a {
	display: block;
	line-height: 20px;
	padding: 5px;
	border: 1px solid #888;
	text-decoration: none;
	text-align: center;
	color: #888;
}

#top_product .options.colors a {
	height: 40px;
	position: relative;
	overflow: hidden;
	background-color: #fff;
}

#top_product .options.colors a.color-01 {
	background-color: #000;
}

#top_product .options.colors a:after {
	display: block;
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0;
	height: 0;
	border-top: 40px solid rgba(0,0,0,0.5);
	border-right: 50px solid transparent;
}

#top_product .options.colors a.color-01:after {
	border-top-color: #b9b8bd;
}

#top_product .options.colors a.color-02:after {
	border-top-color: #e2e2e2;
}

#top_product .options.colors a.color-03:after {
	border-top-color: #f1e4d3;
}

#top_product .options a:hover {
	border-color: #555;
	color: #555;
}

#top_product .options a.selected {
	margin-top: -1px;
	border: 2px solid #2e0027;
	color: #2e0027;
}

#prod_nav {
	margin-top: 30px;
}

#prod_nav a {
	display: block;
	border: 1px solid #ddd;
	background-color: #fff;
	line-height: 20px;
	padding: 10px 0;
	text-align: center;
}

.dummy-banners {
	background: url(../images/dummy_banners.gif) transparent no-repeat 95% 0px;
}

.dummy-banners h3 {
	font-family: 'frutiger-lt';
}

.product-item {
	border: 1px solid #ddd;
	height: 220px;
	position: relative;
	padding: 15px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 20px 30px;
	background-size: auto 80%;
}

.product-item h5 {
	font-weight: bold;
	margin-top: 0;
	text-shadow: 0px 1px 0px #fff;
}

.product-item .bottom-right {
	bottom: 15px;
	right: 15px;
}

.new, .trust {
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
}

#top_product > * {
	position: relative;
	z-index: 2;
}

.new, #top_product > .trust {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 128px;
	height: 128px;
	background-position: 100% 0%;
}

#top_product > .trust {
	top: 0px;
	right: 0px;
	z-index: 1;
}

.new {
	width: 64px;
	height: 64px;
	background-position: 0% -128px;
}

.footer-menu li {
	float: left;
}

.footer-menu a {
	text-decoration: none;
	/*font-size: 11px;*/
	padding: 0 7px;
	border-left: 1px solid #fff;
}

.footer-menu a:hover {
	text-decoration: underline;
}

.footer-menu > li:first-child a, ul.flat.footer-menu li:first-child a {
	border: 0 none;
	padding-left: 0;
}

.social {
	float: right;
	margin-top: -15px;
}

.social a, .social a span {
	display: block;
	float: left;
}

.social a {
	background: url(../images/octagon.png) transparent no-repeat 50% 50%;
	width: 50px;
	height: 50px;
	margin-left: 15px;
}

.social a span {
	background-image: url(../images/social.png);
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	margin: 9px 0 0 9px;
}

.social a:hover span.facebook {
	background-position: 100% 0px;
}

.social a span.twitter {
	background-position: 0% -32px;
}

.social a:hover span.twitter {
	background-position: 100% -32px;
}

.social a span.youtube {
	background-position: 0% -96px;
}

.social a:hover span.youtube {
	background-position: 100% -96px;
}

/* responsive */

.mid-res, .low-res {
	display: none;
}
.high-res {
	display: block;
}

@media only screen and (max-width: 1023px) {
	#why_us a {
		font-size: 12px;
	}
	#top_product .image {
		background-size: contain;
	}
}

@media only screen and (max-width: 999px) {
	header nav a { padding-left: 10px; padding-right: 10px; }
	.sticker-label {
		bottom: 15%;
		font-size: 13px;
	}
}
@media only screen and (max-width: 991px) {
	.high-res {
		display: none;
	}
	.mid-res {
		display: block;
	}
}
/* inner-steps tweaks */
@media only screen and (max-width: 899px) {
	header nav a { padding-left: 5px; padding-right: 5px; }
}
@media only screen and (max-width: 799px) {
	/*header nav a { margin-right: 10px; }*/
}
/* end inner-steps tweaks */
@media only screen and (max-width: 767px) {
	.cnr {
		width: 100%;
		padding: 0 30px;
	}
	html, body {
		overflow-x: hidden;
	}
	.mid-res, div#lang_selector {
		display: none;
	}
	header {
		margin-bottom: 0;
		box-shadow: 0 0 5px 0 #333;
	}
	#logo {
		height: 100px;
	}
	header .bar {
		background-color: transparent;
		position: absolute;
		height: auto;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-position: 50% 90px;
		z-index: 1;
	}
	header .navbar-default {
		padding: 30px 0;
	}
	header button.navbar-toggle, header nav#top_links a {
		margin: 0 0 0 5px;
		padding: 10px;
		line-height: 12px;
	}
	header nav#top_links a {
		padding: 10px 15px;
	}
	header button.navbar-toggle, header nav#top_links a:link, header nav#top_links a:visited {
		background-color: #2e0027;
	}
	header button.navbar-toggle:hover, header nav#top_links a:hover, header nav#top_links a:active, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active {
		background-color: #5d144b;
	}
	header nav#top_links a span {
		display: none;
	}
	header nav#top_links a span.glyphicon {
		display: inline;
	}
	.low-res {
		display: block;
	}
	#top_product {
		margin: 0 -30px;
	}
	#top_product .image {
		margin-bottom: 20px;
	}
	.indent-01, .indent-02 {
		padding-left: 0;
	}
	/*.sticker-01 {
		width: 120px;
		top: -20px;
		right: -16px;
	}*/
	.sticker-01:before {
		height: 80px;
		bottom: 0px;
	}
	.dummy-banners {
		background: transparent none;
	}
	.panel {
		padding: 30px 30px 20px;
	}
	#main_nav > ul > li {
		float: none;
		width: 100%;
	}
	#main_nav > ul > li > a {
		padding: 10px;
		border-top: 1px solid #fff;;
	}
	#main_nav > ul > li > a:link, #main_nav > ul > li > a:visited {
		background-color: #5d144b;
	}
	#main_nav > ul > li > a:hover, #main_nav > ul > li > a:active {
		background-color: #2e0027;
	}
}
/* micro-tweaks */
@media only screen and (max-width: 639px) {
	/*.sticker-01 {
		top: 0px;
	}*/
}
@media only screen and (max-width: 479px) {
}
@media only screen and (max-width: 419px) {
	/*.sticker-01 {
		top: 20px;
	}*/
	h1, .h1, h2, .h2 {
		font-size: 18px;
	}
	h3, .h3, h4, .h4 {
		font-size: 16px;
	}
}
@media only screen and (max-width: 359px) {
}
@media only screen and (max-width: 319px) {
	h1, .h1, h2, .h2 {
		font-size: 16px;
	}
	h3, .h3, h4, .h4 {
		font-size: 14px;
	}
}
@media only screen and (max-width: 299px) {
	h1, .h1, h2, .h2 {
		font-size: 14px;
	}
}


