/*
@font-face {
	font-family: 'bcn';
	src: url('../fonts/bcn.eot');
	src: url('../fonts/bcn.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bcn.woff2') format('woff2'),
		url('../fonts/bcn.woff') format('woff'),
		url('../fonts/bcn.ttf') format('truetype'),
		url('../fonts/bcn.svg#bcn') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

body, .splash {
	font-family: 'Ubuntu Condensed', 'Open Sans Condensed', 'PT Sans Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #cef;
}

body, .splash {
	background-color: #2863b1;
	background: -webkit-linear-gradient(#0d4791, #2863b1);
	background: -o-linear-gradient(#0d4791, #2863b1);
	background: -moz-linear-gradient(#0d4791, #2863b1);
	background: -ms-linear-gradient(#0d4791, #2863b1);
	background: linear-gradient(#0d4791, #2863b1);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: #fff;
}

header {
	color: #fff;
}

#logo {
	background: url(../images/logo.png) transparent no-repeat 50% 50%;
	background-size: contain;
	height: 50px;
	margin: 15px 0;
}

.backdrop {
	background-color: rgba(0,0,0,0.4);
}

#sidebar_header {
	height: 150px;
	background: url(../images/backgrounds/menu-header.jpg) transparent no-repeat 50% 50%;
	background-size: cover;
	margin-bottom: 10px;
}

#sidebar_header .close, #sidebar_header .close:hover, #sidebar_header .close:focus {
	color: #fff;
	text-shadow: 0 -1px 0 #000;
	font-size: 42px;
}

.side-menu-button {
	width: 50px;
	max-width: 100%;
	background: none transparent;
	border: 0 none;
	border-radius: 0;
	padding: 0;
	margin-top: 25px;
}

.side-menu-button .icon-bar {
	display: block;
	background-color: #fff;
	height: 6px;
	margin: 8px 0 0 0;
}

.side-menu-button .icon-bar:first-child {
	margin: 0;
}

/* home carousel */

section#slider {
	position: relative;
	padding-bottom: 60px;
}

#slider .carousel {
	background-color: #507db8;
	position: static;
}

#slider a.carousel-control {
	display: none;
}

#slider .carousel-inner {
	background-color: #507db8;
	padding: 10px 15px;
}

#slider .carousel-inner > .item.text-center, #slider .carousel-caption {
	text-align: left;
}

#slider .carousel-inner > .item > a > img, #slider .carousel-inner > .item > img {
	float: left;
	margin: 0 15px 0 0 !important;
	max-width: 30%;
}

#slider .carousel-caption {
	position: static;
	float: left;
	padding: 0;
	margin: 0;
	color: inherit;
}

#slider .carousel-indicators {
	margin-bottom: 0;
	bottom: 15px;
}

.carousel-indicators li {
	background-color: #fff;
	border-color: #fff;
	margin: 2px 4px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.carousel-indicators .active {
	background-color: #e3242c;
	border-color: #e3242c;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	margin: 0 2px;
}

.carousel-img {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 100%;
	padding-top: 100%;
	background-size: cover;
}

/* news list */

#news .list {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}

#news .list > li {
	padding: 10px;
	margin: 10px 0 0 0;
	background-color: #507db8;
}

#news .list > li.shop {
	background-color: #133b6c;
}

.item-img, .item-cat, .icon {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.item-cat, .icon {
	display: block;
	display: inline-block;
	width: 100%;
	height: 100%;
	background-size: 60% auto;
}

#news .list .item-img {
	width: 100%;
	padding-top: 100%;
	background-size: cover;
}

#news .list .item-cat {
	border: 3px solid #fff;
	float: right;
	margin: 20% 0;
	width: 60%;
	padding-top: 60%;
}

.item-cat-info, .icon-info {
	background-image: url(../images/icons/info.png);
}

.item-cat-shop, .icon-basket {
	background-image: url(../images/icons/basket.png);
}

.item-cat-profile, .icon-profile {
	background-image: url(../images/icons/profile.png);
}

.item-cat-reward, .icon-reward {
	background-image: url(../images/icons/reward.png);
}

.item-cat-tip, .icon-tip {
	background-image: url(../images/icons/tip.png);
}

.item-cat-quiz, .icon-quiz {
	background-image: url(../images/icons/quiz.png);
}

.item-cat-checkin, .item-cat-checkin-stadium, .icon-pin {
	background-image: url(../images/icons/pin.png);
}

