#radialmenu .backdrop {
	display: none;
}

#radialmenu.active .backdrop {
	display: block;
	background-color: rgba(0,0,0,0.01);
}

aside.open .backdrop {
	display: block;
}

#navs {
	position: fixed;
	z-index: 999;
	left: 50%;
	bottom: 0;
	margin: 0 0 -60px -60px;
	width: 120px;
	height: 120px;
	line-height: 120px;
	list-style-type: none;
	padding: 0;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

.active > #navs {
	bottom: 10px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin: 0 0 0 -30px;
}

#navs > li, #navs:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #e3242c;
}

#navs > li.active {
	background-color: #9f1b21;
}

#navs, #navs:after, #navs > li, #navs > li > a, #navs > li > a > span {
	transition: all .4s;
	-webkit-transition: all .4s;
	-moz-transition: .4s;
}

#navs:after {
	content: '';/*attr(data-close);*/
	z-index: 1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.active > #navs:after {
	content: ''; /*attr(data-open);*/
	-ms-transform: rotate(720deg);
	-webkit-transform: rotate(720deg);
	transform: rotate(720deg);
}

#navs a {
	width: 100%;
	height: 100%;
	display: inline-block;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	text-decoration: none;
	color: #fff;
	font-size: 0.8em;
}

#navs:after, .active > #navs > li {
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

#navs:after {
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 50% auto;
	background-image: url(../images/icons/play.png);
}

.active > #navs:after {
	background-position: 50% 50%;
	background-size: 80% auto;
}

